html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* DISPOSICIÓN DE LOS BLOQUES EN PANTALLA */

#topDiv {
    height: 75%;
    width: 100%;
}

#mapsContainer {
    height: 100%;
    display: flex;
}

#map_frame {
    width: 70%;
}

.card {
    width: 30%;
}

#streetview_frame {
    
}

/* Controles sobre el mapa (provisional) */

div.controls {
    display: flex;
}

div.controls>div {
    margin: 5px;
    padding: 5px;
}

#gasses-control {
    display: flex;
}